
*, html { cursor: none !important; }
html, body { height: 100%; }

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;  
}

body {
    overflow: hidden;
    background-color: black;

    background-image: url('../images/FeatherTexture.bmp');
}

#cursor {
    position: absolute;
    pointer-events: none;
    z-index: 99;
}

body::before {
    position: absolute;
    pointer-events: none;
    content: "";
    z-index: 100;
    top: 0; left: 0; bottom: 0; right: 0; 
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),  
                linear-gradient(90deg, rgba(255, 0, 0, 0.06) 50%, rgba(0, 255, 0, 0.02) 50%, rgba(0, 0, 255, 0.06)) 50%; 
    background-size: 100% 2px, 2px 100%; 
}

/* ==== DESKTOP ICON ==== */

.icons {
    margin-top: 10px;
    display: grid;
    grid-gap: 15px;
}

.shortcut-icon {
    content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAQAAACR313BAAAAAXNSR0IArs4c6QAAAFVJREFUGJVjjP3PgBPsYGBhYFiIU1qcgQm3XgYGBgYWZLUI8BJKM2EKIQMUwzEVoEiL45MWx2ICE6bkS2zSyDpfYpPG6/KXWBxGmr8xAaMonhhjYAAAsQEOdyiCWW8AAAAASUVORK5CYII=');
}

.desktop-icon {
    position: relative;
    width: 70px;
    text-align: center;
}

.desktop-icon .icon-logo img {
    width: 40px;

    /* -webkit-filter: drop-shadow(1px 1px 1px #222);
    filter: drop-shadow(1px 1px 1px #222); */
}

.desktop-icon .icon-title {
    margin-top: 3px;
    font-family: Tahoma;
    font-size: 11px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.desktop-icon .icon-title.selected { 
    background-color: royalblue; 
    text-shadow: none;
}

.desktop-icon .shortcut-icon {
    width: 12px;
    margin-top: -14px;
    margin-left: 14px;
}

.draggable-frame {
    background-color: black;
    position: absolute;
    width: 600px;
    height: 400px;
    border: solid #4673a7 4px;
    border-top: solid #4673a7 20px;
    border-radius: 5px;
}


.draggable-frame#blog {
    background-color: royalblue;
    color: white;
    overflow: scroll;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.draggable-frame#blog h3 {
    text-align: right;
    background-color: navy;
    margin: 0;
    padding: 0.5rem;
}

.draggable-frame#blog main {
    margin: 32px;
}

.draggable-frame#blog .entry-content {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin: .6rem 0;
}

.draggable-frame#blog section {
    position: relative;
    margin-bottom: 2rem;
}

.draggable-frame#blog a {
    inset: 0;
    opacity: 0;
    position: absolute;
}

.xp-line {
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, mediumblue,lightblue,mediumblue); ;
}